/* PHASE 1: Header */

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  background: #eee;
}

.header {
  background: #f00;
  color: #fff;
  border-bottom: 1px solid #ccc;
}

.header a {
  display: block;
  padding: 10px 20px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 900px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.header-logo {
  border-right: 1px solid #ccc;
  font-weight: 700;
}

.header-logo:hover {
  background: #000;
}

.header-list {
  display: flex;
}

.header-list > li {
  border-left: 1px solid #ccc;
}

.header-list > li:hover {
  background: #000;
}

.badge {
   position:relative;
}
.badge[data-badge]:after {
   content:attr(data-badge);
   position:absolute;
   top:-10px;
   right:-10px;
   font-size:.7em;
   background:green;
   color:white;
   width:18px;height:18px;
   text-align:center;
   line-height:18px;
   border-radius:50%;
   box-shadow:0 0 1px #333;
}
