/* PHASE 3: Layout */
.container {
  display: flex;
}

.content-sidebar {
  background: blue;
  min-height: 200px;
  width: 100px;
  padding: 10px;
  border: 1px solid black;
}

.content-main {
  background: red;
  min-height: 200px;
  width: 100px;
  padding: 10px;
  border: 1px solid black;
}
