/* PHASE 7: Online */

.profile-picture {
  overflow: hidden;
}

.online {
  position: absolute;
  background: green;
  height: 20px;
  width: 200px;
  text-align: center;
  transform: rotate(-45deg) translateX(-25%);
  top: -20px;
  left: -40px;
}
