<h2>New Comment</h2>

<form action="<%= comments_url %>" method="post">
    <input type="hidden" name="authenticity_token" value="form_authenticity_token">
  
    <label>
      Content
      <textarea type="text" name="comment[content]" value=""></textarea>
    </label>
    <br>
    <input type="submit" name="" value="New Comment">
  </form>
  